#top-nav {
    height: 72px;
}
#rest, .leftpane {
    height: calc(100vh - 72px);
}

body {
    overflow: hidden;
}

#movable {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    right: 10;
    bottom: 10;
    width: 50%;
    height: 80%;
    overflow: hidden;
    background-color: #ffffff;
    z-index: 9999;
}

input {
    margin-bottom: 4px;
}

#display {
    overflow-y: scroll;
    margin-bottom: 500px;
    width: 100%;
    height: calc(100vh - 72px);;
    white-space: nowrap;
    overflow: hidden scroll;
    flex: 1 1 auto;
}

/* search bar styles */
.noResultsSearch {
    color: red;
}

#noResults {
    position: absolute;
    color: white;
}

input[type="search"]::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;
    /* Now your own custom styles */
    height: 14px;
    width: 14px;
    display: block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
    /* setup all the background tweaks for our custom icon */
    background-repeat: no-repeat;
    /* icon size */
    background-size: 14px;
}

#search {
    width: 90%;
    padding: 0.5em 1em;
    font-size: 1.2em;
    max-width: 90%;
    border-radius: 5px;
    transition: all 0.25s;
    color: #f3f3f3;
}
#search:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  border: 1px solid rgba(81, 203, 238, 1);
}
#search:focus {
    width: 200%;
    margin-left: 25px;
}

/* email radio buttons */
#email-types {
    display: flex;
    margin: 0 0 0 0;
    height: 100%;
}

#email-types li {
    flex: 2 1 auto;
    width: 100px;
    height: 100%;
    position: relative;
}

#email-types label,
#email-types input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#email-types input[type="radio"] {
    visibility: hidden;
    z-index: 100;
}
#email-types input[type="radio"]:checked {
    visibility: hidden;
}

#email-types input[type="radio"]:checked+label,
.Checked+label {
    border-bottom: 3px solid #478ed4;
}

#email-types label {
    padding: 5px;
    cursor: pointer;
    z-index: 90;
    transition: all 0.2s;
    text-align: center;
}

/* email pane */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.node {
    display: flex;
    position: relative;
}
.node a {
    padding: 8px 20px 8px 110px;
}

.pin-container {
    position: absolute;
    top: 45%;
    left: 6px;
    transform: translateY(-50%);
}
.pin-container input[type='checkbox'] {
    display: none;
}
.pin-container input[type='checkbox'] + label:before {
    font-family: FontAwesome;
    content: "\f08d";
	font-size: 1.5rem;
    cursor: pointer;
    color: rgba(186, 189, 212,0.7);
    width: fit-content;
}
.pin-container input[type='checkbox']:checked + label:before {
    color: #4183c4 !important;
}
.pin-container label:hover::before {
    color: rgb(157, 160, 179) !important;
}

/* modern email pane design */
.modern-email {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.modern-name {
    padding: 0 0 !important;
    width: 40%;
    color: #4183c4;
    filter: brightness(85%);
    transition: all 0.2s;

    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.modern-name:hover {
    filter: brightness(100%);
}

.modern-cont {
    position: absolute;
    right: 5%;
    width: 50%;
    display: flex;
}
.modern-date {
    flex: 0 0 auto;
    font-size: 14px;
    color: rgba(148, 148, 148, 0.7);
}
.modern-subject {
    flex: 1 1 auto;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.DELETED a {
    color: red !important;
}


/* no messages thingy */
.no-msgs {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.leftpane {
    position: relative;
}



.fa-times {
    color: red !important
}





.pin-container input[type='checkbox'] + .important:before {
    content: "\f2b6";
    color: rgba(186, 189, 212,0.7);
}
.pin-container input[type='checkbox']:checked + .important:before {
    color: 	#ebc313 !important;
}
.pin-container .important:hover::before {
    color: rgb(157, 160, 179) !important;
}


.pin-container {
    display: flex;
    top: 40% !important;
    left: 15px;
}
.fa-circle {
    font-size: 9px;
    color: blue;
    margin-left: 3px;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
}

.DELETED .pin-container input {
    display: none !important;

}
.DELETED .pin-container label:before {
    content: '' !important;
}
.DELETED .pin-container {
    display: none;
}

label {
    margin-bottom: 0;
}

.pin-container label {
    text-align: center;
    height: fit-content;
}
.pin-container label::before {
    border-radius: 50%;
    transition: all 0.2s ease-out;
    border: 8px solid transparent;
    white-space: nowrap;
}
.pin-container label:hover::before {
    background-color: rgba(51,51,51,0.075);
}

.pin-container label[data-title]::after {
    visibility: hidden;
}
.pin-container label[data-title]:hover:after {
    width: fit-content;
    height: 24px;
    font-size: 12px;
    content: attr(data-title);
    padding: 4px 8px;
    color: #fff;
    position: absolute;
    left: -10%;
    top: 110%;
    white-space: nowrap;  
    border-radius: 5px;  
    background:#000;
    opacity: 0.6;
    visibility: visible;
}



.icon-btn {
    text-align: center;
    cursor: pointer;
    font-size: 23px;
}
.icon-btn::before {
    border-radius: 50%;
    transition: all 0.2s ease-out;
    border: 8px solid transparent;
}
.icon-btn:hover::before {
    background-color: rgba(189, 189, 189,0.3);
}

.icon-btn[data-title]::after {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s;
}
.icon-btn[data-title]:hover:after {
    width: fit-content;
    height: 24px;
    font-size: 12px;
    content: attr(data-title);
    padding: 4px 8px;
    color: #fff;
    position: absolute;
    left: 0%;
    top: 120%;
    white-space: nowrap;  
    border-radius: 5px;  
    background: #000;
    opacity: 0.6;
    visibility: visible;
}

.dropdown {
  position: relative;
  display: inline-block;
  transform: translateY(10%)
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block !important;
}


.dd-menu {
    display: none;
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: rgb(58, 72, 99);
    list-style-type: none;
    overflow: hidden;
    color: #f3f3f3;
    border-color: rgba(191, 191, 191,0.6)
}


.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: rgb(75, 93, 128);
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}


#display {
    white-space: unset !important;
}



#body {
    margin-bottom: 0 !important;
    max-height: 40%;
}
#marked {
    max-height: 30%;
}
#marked:empty:before {
    content: attr(data-placeholder);
}



#attachments {
    position: relative;
    height: auto;
    width: 100%;
    overflow: auto;
}
.attachment-item {
    background-color: rgba(190, 197, 204, 0.3);
    border: 1px solid rgba(190, 197, 204, 0.85);
    padding: 8px 20px;
    cursor: pointer;
    margin-right: 6px;
    margin-bottom: 6px;
    float: left;
}
.attachment-item:hover {
    background-color: rgba(190, 197, 204, 0.5);
}



.modern-name {
    margin-left: 18px;
}



.selected {
    background-color: rgba(152, 151, 219, 0.2);
}
.node:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 95%;
    border-bottom: 2px solid #4183c4;
    opacity: 0.4;
}



.pin-container input[type='checkbox'] + .select-email-box:before {
    content: "\f0c8";
    color: rgba(186, 189, 212,0.7);
}
.pin-container input[type='checkbox']:checked + .select-email-box:before {
    color: 	rgba(152, 151, 219, 1) !important;
}
.pin-container .select-email-box:hover::before {
    color: rgb(157, 160, 179) !important;
}




.loader {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.reverse-spinner {
  position: relative;
  height: 100px;
  width: 100px;
  border: 4px solid transparent;
  border-top-color: #1976d2;
  border-left-color: #1976d2;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.reverse-spinner::before {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  content: "";
  border: 4px solid transparent;
  border-top-color: #03a9f4;
  border-left-color: #03a9f4;
  border-radius: 50%;
  -webkit-animation: spinBack 1s linear infinite;
  animation: spinBack 1s linear infinite;
}


@-webkit-@keyframes spin {
  -webkit-from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  -webkit-to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinBack {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}

@keyframes spinBack {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
}


.navbar {
    min-width: 125px;
    max-width: 175px;
}

#email-types,
.navbar {
    line-height: 1 !important;
}


.DELETED .fa-circle {
    display: none;
}

.DELETED .modern-email {
    padding-left: 0 !important;
}

.DELETED .modern-name {
    width: 45% !important;
}


.modern-name {
    width: 35% !important;
}

.modern-name:hover {
    overflow: visible;
    background-color: inherit;
    width: fit-content !important;
    min-width: 35% !important;
}

.modern-name:hover:after {
    content: '.';
    opacity: 0;
    color: transparent;
}




body {
    background-color: #dedede;
}

.navbar-container {
    padding: 5px 8px 5px 8px;
    margin: 0 0 0 0;
    overflow: hidden;
    flex: 0 0 auto;
    max-width: 175px;
}

.navbar {
    border-radius: 8px;
    overflow: hidden;
    padding-top: 10px;
    border-color: transparent !important;
    width: unset !important;
}

.leftpane-container {
    flex: 1 1 auto;
    overflow-y: scroll;
    padding: 5px 5px 5px 0px;
    position: relative;
    float: left;
}

.leftpane {
    float: unset !important;
    width: unset !important;
    overflow: hidden !important;
    height: fit-content !important;
    position: relative;
    min-height: 100%;
    border-color: transparent !important;
    border-top-right-radius: 8px;
}

.all-container {
    display: flex;
    height: 100%;
}

.no-msgs {
    top: 50% !important;
}



#top-nav {
    border-bottom: 0px !important;
}


.pin-container label[data-title]:hover:after {
    left: unset !important;
    transform: translateX(-65%);
}



#email-types li label {
    padding: 15px 0 15px 0;
}



.email-tab {
    width: 175px;
    height: 40px;
    background-color: rgb(52, 58, 66);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.email-tab .pin-container label:hover::before {
    background-color: rgba(51, 51, 51, 0.9275);
}

.pin-container input[type='checkbox']+.pin-cont-refresh:before {
    content: "\f01e";
    color: rgba(186, 189, 212, 0.7);
    transition: color 0.4s ease-in;
}

.pin-container input[type='checkbox']:checked+.pin-cont-refresh:before {
    color: #ebc313 !important;
}

.pin-container input[type='checkbox']:not(:checked)+.pin-cont-refresh:before {
    color: rgba(186, 189, 212, 0.7) !important;
}

.pin-container input[type='checkbox']+.pin-cont-more:before {
    content: "\f141";
    font-weight: normal;
    color: rgba(186, 189, 212, 0.7);
}

.pin-container input[type='checkbox']:checked+.pin-cont-more:before {
    color: rgba(186, 189, 212, 0.7) !important;
}

.pin-container input[type='checkbox']:not(:checked)+.pin-cont-more:before {
    color: rgba(186, 189, 212, 0.7) !important;
}


#display input:focus {
    border-color: #478ed4 !important;
}

#marked:empty:before {
    opacity: 0.7;
}

#marked {
    padding: 3px 3px 3px 3px;
}


.card__corner {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 2em;
    height: 2em;
    background-color: #e6e7e8;
}

.card__corner .card__corner-triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2em 2em 0;
    border-color: transparent #dedede transparent transparent;
}


#display {
    background-color: #fff;
    height: fit-content;
    overflow-y: visible;
    margin-bottom: 100px !important;
}


/* style for bottom moving text thingy */
.ticker-wrapper {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100vw;

    background-color: rgba(92, 98, 128, 0.5);
    border-top: 1px solid #4183c4;
    opacity: 0.8;
    line-height: 1 !important;
}
.ticker {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    white-space: nowrap;
}

.ticker * {
    display: inline-block;
    padding: 0 2rem;
    font-size: 2rem;
}
.ticker {
    animation-name: ticker;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 20s;
}
.ticker:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}
@keyframes ticker {
    0% {
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
/* /style for bottom moving text thingy */

/* more icon dropdown styles */
#more-icon:checked+label::after {
    display: none !important;
}

#more-icon:checked+label .more-dropdown {
    display: block !important;
}

.more-dropdown {
    position: absolute;
    display: none;
    width: 220px;
    height: fit-content;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 4px 2px 10px 6px rgba(10, 10, 10, 0.3);
    background-color: #f3f3f3;
}

.more-dropdown ul {
    padding: 5px 0px 5px 0px;
    list-style: none;
    text-align: left;
    margin-bottom: 0;
}

.more-dropdown ul li {
    cursor: pointer;
    padding: 2px 7px 2px 7px;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.more-dropdown ul li:hover {
    background-color: rgba(122, 122, 122, 0.4);
}
/* /more icon dropdown styles */