{% extends "base.html" %}
{% block content %}
<script>
    const user = "{{ user }}";
    const token = "{{ token }}";
    const pfp = "{{ pfp }}";
    const isMobile = '{{ isMobile }}' != 'None';

    globalThis.theme = "{{ theme }}";
    globalThis.style = "{{ style }}" || 'modern'; // classic or modern
    globalThis.dateFormat = "{{ dateFormat }}" || 'simple'; // detailed or simple
    optType = 1;
</script>

<style>
.navbar {
    height: 100vh !important;
}
.container {
    max-height: inherit;
    overflow: hidden scroll;
}
body {
    overflow-y: hidden;
}
</style>

<!-- top nav bar -->
<div id='top-nav' class='nav' style='background-color: #333'>
    <div style='display: flex'>
        <a class='nav-btn' onclick='toggleNav()' style='width: fit-content'>
            <i class="fa fa-bars fa-2x"></i>
        </a>

        <div style='display: block; padding: 15px 15px;'>
            <img class='nav-image' src='./static/mail.png' onclick='window.location.href = "/"' style='width: 35px; height: auto; float: left' />
            
            <div class='nav-image' style='overflow: hidden; border-radius: 50%; width: 35px; height: 35px; margin-left: 15px;  float: left;'>
                <img src='{{ pfp }}' style='width: 35px; height: auto; cursor: pointer' onclick='window.location.href = "https://repl.it/@{{ user }}"'' />
            </div>

            <div class='username' style='font-weight: bold; color: #4183c4; margin-left: 15px; font-size: 20px; float: left; cursor: pointer'>
                <span onclick='window.location.href = "https://repl.it/@{{ user }}"'>{{ user }}</span>
                <span style='color: grey; cursor: default'> / </span>
                <span style='color: #f3f3f3; cursor: default'>settings</span>
            </div>
        </div>
    </div>
</div>

<!-- left navbar open close func -->
<script>
    function toggleNav() {
        var nav = document.getElementsByClassName("navbar")[0];
        if (nav.style.display == 'block' || nav.style.display === '') {
            nav.style.display = 'none';
        }
        else {
            nav.style.display = 'block';
        }
    }
</script>

<div style='display: flex; height: 90vh'>
    <ul class='navbar'>
        <li class='nav'><a href='/app'><i class="fa fa-long-arrow-left" style='height: 100%; margin:auto; margin-left: 0; margin-right: 15px'></i> Back</a></li>
        <li class='nav'><a href='/logout'><i class="fa fa-sign-out" style='height: 100%; margin:auto; margin-left: 0; margin-right: 15px'></i> Logout</a></li>
    </ul>

    <div class='container'>

        <h1>Settings</h1>

        <br>

        <label for='forward'>Forward emails to:</label>
        <input name='forward' id='forward'>
        <button onclick='saveForward()' style='background-color: #333; border-color: #334'>Save</button>

        <br><br>

        <!-- theme toggle -->
        <input type="checkbox" id="switch" onclick='saveTheme()' style='visibility: hidden'>
        <div class="app">
            <div class="body">
            
                <div class="content">
                    <div class="circle">
                    <div class="crescent"></div>
                    </div>
                    <p class="heading">Choose a style</p>
                    <p style='margin-bottom: 8px'>Pop or subtle. Day or night.<br>
                    Customize your interface
                    </p>
                    <label id='toggle-label' for="switch" style='bacground-color: rgba(0,0,0,.1);'>
                    <div class="toggle"></div>
                    <div class="names">
                        <p class="light">Light</p>
                        <p class="dark">Dark</p>
                    </div>
                    </label>
                </div>

            </div>
        </div>

        <br><br>

        <label for='dateFormat'>Date Format</label>
        <select name='dateFormat' id='dateFormat'>
            <option value='simple'>Simple</option>
            <option value='detailed'>Detailed</option>
        </select>
        <button style='background-color: #333; border-color: #334' onclick='updateDateFormat()'>Save</button>

        <br><br>

        <label for='api_key'><a href='https://pypi.org/project/replemail/'>API Key</a></label>
        <input name='api_key' id='api_key' value='{{ api_key }}' readonly>
        <button onclick='newAPIKey()' style='background-color: #333; border-color: #334'>Get a new API Key</button>

        <div style='margin-bottom: 200px;'></div>
<script>

function api(uri, data, callback) {
    $.ajax({
        url: '/api' + uri,
        type: 'post',
        data: JSON.stringify(data),
        headers: {
            token: token,
        },
        contentType: 'application/json',
        success: callback
    })
}

$( function() {
    api('/settings/forwards', {}, (addr) => {
        if (addr == 'none') {
            return
        }
        $('#forward')[0].value = addr;
    })
    $('#' + globalThis.theme).prop('selected', true);
})

function newAPIKey() {
    api('/generate', {}, (key) => {
        $('#api_key')[0].value = key;
    })
}

function saveForward() {
    var addr = $('#forward')[0].value;

    if (addr == '') {
        addr = 'none';
    }

    api('/settings/forwards', {'email': addr}, (res) => {
        $.notify('Forward address changed to: ' + res, 'success');
    })
}

function set_theme(t) {
    api('/settings/theme', {'theme': t}, (res) => {
        $.notify('Updated', 'success');
        globalThis.theme = res;
    })
}

function get_theme(c) {
    api('/settings/theme', {}, (res) => {
        c(res);
    })
}

function saveTheme() {
    var darkmode = $('#switch')[0].checked;
    $('body').css({
        transition: 'all 0.5s'
    })

    if (darkmode) {
        set_theme('dark');
        $("#dark").attr("media", "");
    }
    else {
        set_theme('light');
        $("#dark").attr("media", "none");
    }
}

function updateDateFormat() {
    api('/settings', {'dateFormat': $('#dateFormat')[0].value}, (res) => {
        $.notify('Saved: ' + res, 'success')
    })
}

</script>
{% endblock %}